.roundBorder {
	padding: 5px;
	border-radius: 7px;
}

.main {
	max-width: 1200px;
}

.forumTitle {
	font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}

.oneForum {
	min-height: 50px;
}

a {
	color: #105289;
}

button {
	display: inline-block;
	background-color: #E9E9E9;
	padding: 2px 8px;
	font-size: 13px;
	font-weight: 600;
	font-family: "Open Sans", "Droid Sans", Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.4;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid gray;
	border-radius: 4px;
}

.userProfile {
	width: 200px;
	border-left: 1px solid white;
	flex-shrink: 0;
}