
.topMargin {
	margin-top: 1em;
}

.leftMargin {
	margin-left: 1em;
}

.rightMargin {
	margin-right: 1em;
}

.marginMiddle {
	margin-left: auto;
	margin-right: auto;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.flexMainCenter {
  justify-content: center;
}

.flexCrossCenter {
	align-items: center;
}

.flexChange {
	flex: 1 1 auto;
}

.centerText {
	vertical-align: middle;
}

.inlineBlock {
	display: inline-block;
}

h1 {
	font-size: 4em;
}

.lightBlue {
	background-color: #6ACEFF;
}

.mediumBlue {
	background-color: #12A3EB;
}

.darkBlue {
	background-color: #0076B1;
}

.lightWhite {
	background-color: #ECF3F7;
}

.whiteText {
	color: #FFFFFF;
}

.redText {
	color: #D31141;
}

.smallText {
	font-size: 10px;
}

.upper {
	text-transform: uppercase;
}
<<<<<<< HEAD
=======

.blueLink {
	color: #105289;
	text-decoration: underline;
}
>>>>>>> 24e66d8 (Logout)
